<div class="container">
  <div class="page-header">
    <h1>Rainbow Activity Ratio API</h1>
  </div>
  
  <h3>概要</p>
  <p class="lead">BKCに存在するマルチメディアルーム(MMR)の最新利用状況を取得できます．</p>
  
  <h3>形式</h3>
  <p class="lead">こんな感じ．</p>
  <pre>
  {
      "acros": {
          "rate": 94.53125, 
          "available": 128, 
          "users": 121, 
          "windows": 60
          "linux": 61, 
          "outdated": true, 
      }, 
      "media": null, 
      "other": null, 
      "prism": null
  }
 </pre>
  
  <h3>意見など</h3>
  <p class="lead">ください．</p>

  <footer>
    <hr>
    <p>&copy; Company 2012 Mekapiku</p>
  </footer>
</div>

